$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

$accordion-icon-color: $primary;


$nav-underline-link-active-color: $secondary;


@import "./node_modules/bootstrap/scss/bootstrap.scss";



.btn {
    color: white;  
}

.btn-firefox {
    background-color: lightgray;
    color: black;
}

.img-main {
    position: relative;
    z-index: 1;
}

.blueShadow {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 85%;
    height: 70%;
    background: #5265E1;
    z-index: -1;
    border-bottom-left-radius: 8rem;
}

.img-tab {
    position: relative;
    z-index: 1;
}

.blueShadowTab {
    position: absolute;
    right: 24%;
    bottom: -18%;
    width: 85%;
    height: 70%;
    background: #5265E1;
    z-index: -1;
    border-bottom-right-radius: 8rem;
}

.blueShadowTab2 {
    position: absolute;
    right: 37%;
    bottom: -9%;
    width: 70%;
    height: 80%;
    background: #5265E1;
    z-index: -1;
    border-bottom-right-radius: 8rem;
}

.nav-link { 
    color: black;   
}

#cards {
    
    display: flex;
    height: 500px;
    justify-content: center;
}

#cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 4);
    height: 80%;
    align-items: center;
    box-shadow: 1px 1px 3px rgb(233, 230, 230);
    margin: 20px;
}

#chrome{
    
    align-self: flex-start;
}

#firefox{
    align-self: center;
}

#opera{
    align-self: flex-end;
}

@media (max-width: 767.98px) {
    #cards {
        
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 1000px;
        margin: 0 auto;   
        
    }

    #cards .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 80%;
        align-items: center;
        box-shadow: 1px 1px 3px rgb(233, 230, 230);
        margin: 20px;
    }

    #chrome{
    
        align-self: center;
    }
    
    #firefox{
        align-self: center;
    }
    
    #opera{
        align-self: center;
    }
   
}

